spring:
  profiles:
    active: local

---
spring:
  profiles: qa

  datasource:
    platform: h2
    hikari:
      driver-class-name: org.h2.Driver
      jdbc-url: jdbc:h2:tcp://localhost:9092/mem:testdb
      username: sa
      password:
  jpa:
    database-platform: H2
    show-sql: false
    hibernate:
      ddl-auto: update
---